# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements. See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership. The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the
# specific language governing permissions and limitations
# under the License.

#####################################################################
## The uppercase properties are read and exported by bin/start_fe.sh.
## To see all Frontend configurations,
## see fe/src/org/apache/doris/common/Config.java
#####################################################################

# the output dir of stderr and stdout
LOG_DIR = {{LOG_DIR}}

DATE = `date +%Y%m%d-%H%M%S`
JAVA_OPTS = {{java8_option}}

# For jdk 9+, this JAVA_OPTS will be used as default JVM options
JAVA_OPTS_FOR_JDK_9={{java_opts_for_jdk_9}}

##
## the lowercase properties are read by main program.
##
# Choose one if there are more than one ip except loopback address.
# Note that there should at most one ip match this list.
# If no ip match this rule, will choose one randomly.
# use CIDR format, e.g. 10.10.10.0/24
# Default value is empty.
# priority_networks = 10.10.10.0/24;192.168.0.0/16

# meta_delay_toleration_second = 10
max_conn_per_user = {{max_conn_per_user}}
qe_query_timeout_second = {{qe_query_timeout_second}}

# INFO, WARN, ERROR, FATAL
sys_log_level = {{fe_sys_log_level}}

# store metadata, must be created before start FE.
# Default value is ${DORIS_HOME}/doris-meta
fe_meta_dir = {{fe_meta_dir}}
http_port = {{http_port}}
rpc_port = {{rpc_port}}
query_port = {{query_port}}
edit_log_port = {{edit_log_port}}
mysql_service_nio_enabled = {{mysql_service_nio_enabled}}
enable_batch_delete_by_default={{enable_batch_delete_by_default}}
disable_storage_medium_check={{disable_storage_medium_check}}
default_storage_medium={{default_storage_medium}}
qe_max_connection={{qe_max_connection}}
dynamic_partition_enable={{dynamic_partition_enable}}
enable_materialized_view={{enable_materialized_view}}
